<h1>
  <i class="fa fa-user"></i>
  Alumno
</h1>
<h4>{{alumno.nombre}}</h4>
<hr>

<div class="row">
  <form ng-submit="guardarAlumno()">

    <div ng-hide="creando">
      Codigo:
      <br>
      <input type="text" class="form-control" ng-model="alumno.codigo" readonly="readonly">
      <br>
    </div>

    Nombre:
    <br>
    <input type="text" class="form-control" ng-model="alumno.nombre" required placeholder="Nombre del alumno">
    <br>

    Telefono:
    <br>
    <input type="text" class="form-control" ng-model="alumno.telefono" ui-mask="{{telefonoMask}}" required>
    <br>

    Direccion:
    <br>
    <textarea rows="8" class="form-control" ng-model="alumno.direccion" required placeholder="Direccion del alumno"></textarea>
    <br>

    <button type="submit" class="btn btn-primary">
      <i class="fa fa-floppy-o"></i>
      Guardar Cambios
    </button>

    <br><br>
    <p class="text-success animated fadeIn fast" ng-show="actualizado">Registro Actualizado</p>
    </form>

</div>
